body {
    background-image: url(../img/background.png);
    background-size: cover;
    height: 92vh;
}

/*
main {
    background: url("../img/background.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}
*/

.logomarca {
    width: 220px;
}

h1.titulo {
    margin-top: 20px;
    color: white;
    font-size: 45px;
    font-family: system-ui;
    text-shadow: 3px 3px 3px #00000071;
}

.subtitulo {
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    font-family: system-ui;
    text-shadow: 3px 3px 3px #00000071;
}

section {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    margin: auto;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px 3px #00000071;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    background: #00000000;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

/*
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    margin: 8px;
}
*/

/*
.mobile-menu {
    cursor: pointer;
    display: block;
}
*/

/*
@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0px;
        width: 50vw;
        height: 15vh;
        background: #00000000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
*/